{
  "extends": "airbnb/base",
  "rules": {
    "comma-dangle": 0,
    "function-paren-newline": "off",
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "indent": ["error", 2, { "MemberExpression": "off" }],
    "max-len": [2, 100, 2],
    "object-curly-newline": "off",
    "prefer-destructuring": 0,
    "prefer-rest-params": 0
  }
}
